/*--------------------------------------------------------------------------------------//
//                                      Projects.css                                    //
//--------------------------------------------------------------------------------------*/

/* Project variables */
:root {
    --projects-height: clamp(550px, 62vw, 800px);
    --projects-min-height: 1000px;
    --projects-text-container-width: clamp(300px, 38vw, 1200px);
    --projects-text-container-max-width: 600px;
    --projects-section-flex-direction: row;
    --projects-left-min-width: 650px;
    --projects-text-spacer-up: 0px;
    --projects-title-padding: 16px;
    --carousel-scale: 2.15; 
    --carousel-base-width: 13.125rem;
    --carousel-left-margin: 117px;
    --carousel-bottom-margin: 0px;
    --projects-left-min-width: 650px;
}

/* Projects */
.projects {
    position: relative;
    height: var(--projects-height);
    z-index: 0;
    overflow: hidden;
    padding-top: 10px;
}

/* Both Projects Headers and Subheaders - Title for section */
.projects__header, .projects__subheader {
    opacity: 0; /* Hide until animation */
    display: flex;
    align-self: center;
}
    /* Slide header when in view */
    .animate-projects-header, .animate-projects-subheader {
        animation: baseFadeInSlideDown .7s ease-out;
        opacity: 1;
    }

.projects__subheader {
    letter-spacing: 3px;
}


/* Project Section - Including slideshow, text */
.projects__section {
    display: flex;
    justify-content: flex-start;
    flex-direction: var(--projects-section-flex-direction);
    width: 100%;
    height: 70%;
}

/* Carousel container */
.projects__carousel-wrapper {
    min-width: 50%;
    width: 50%;
    height: 100%;
    display: flex;
}

/* Projects Left & Right  - Left side has carousel, Right side has text box*/
.projects__left, .projects__right {
    height: 100%;
    opacity: 0; /* Hide until animation */
}

/* Projects Left - Carousel*/
.projects__left {
    min-width: var(--projects-left-min-width);
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: -1rem;
}
    /* Slide carousel when in view */
    .animate-projects-left { 
        animation: baseFadeInSlideRight .7s ease-out;
        opacity: 1;
    }

/* Projects Right - Container for dynamic text box*/ 
.projects__right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 6rem;
    align-self: center;
}
    /* Slide text box when in view */
    .animate-projects-right {
        animation: baseFadeInSlideLeft .7s ease-out;
        opacity: 1;
    }

/* Text container - Dynamic text box that describes the current slide */
.projects__text-container {
    position: relative;
    font-size: var(--projects-desc-font-size);
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: flex-start;
    width: var(--projects-text-container-width);
    max-width: var(--projects-text-container-max-width); 
    height: var(--projects-text-container-min-height);
    margin-top: var(--projects-text-spacer-up);
    margin-left: clamp(3rem, 6.7vw, 7rem);
    border: 1px solid black;
}
    /* Text container Dark mode */
    .projects__text-container.dark-mode {
        border: 1px solid white;
        &::before {
            border: 1px solid white;
        }
    }
    /* Box behind text container for aesthetic purposes */
    .projects__text-container::before {
        content: '';
        position: absolute;
        top: -.6rem; /* Move up */
        left: -.6rem; /* Move left */
        width: 100%; /* Same width as container */
        height: 100%; /* Same height as container */
        border: 1px solid black; /* Add a border */
        z-index: -1; /* Place it behind the text container */
    }

/* Title - Dynamic title for current slide */
.projects__title {
    font-size: clamp(1.2rem, 2.3vw, 2rem);  
    font-weight: bold;
    padding: var(--projects-title-padding);
    margin: 0px;
    text-wrap: nowrap;
    animation: 1s ease-out baseFadeInSlideRight;
}

/* Description - Dynamic description for the current slide */
.projects__description {
    display: flex;
    text-align: justify;
    font-size: clamp(0.8rem, 1.8vw, 1.4rem);
    padding: var(--projects-title-padding);
}

/* Captions - Dynamic captions (colored boxes) for the current slide */
.projects__captions {
    font-size: clamp(1.1rem, 2vw, 1.7rem);
}

/* Row wrapper - Used to wrap the captions and icons in a row */
.row-wrapper {
    position: relative;
    margin-bottom: -2.2%;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
}

/* Carousel tooltip - Container w/ text & gifs that notifies the user on how to move carousel. */
.projects__carousel__tooltip {
    display: flex; 
    align-self: center;
    flex-direction: column;
    margin-top: 1rem;
    margin-left: 2.8rem;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out; 
    opacity: 1; /* Initially fully visible, fades out right after a few sec */
}
    /* Hide tooltip after a few seconds */
    .projects__carousel__tooltip.tooltip-hide {
        opacity: 0; /* Fade out */
        transform: translateX(50px); /* Move to the right */
    }
    /* Tooltip Text - Informs user how to use carousel */
    .projects__carousel__tooltip p {
        font-family: "SF Pro Text";
        font-weight: 300;
        font-size: clamp(1.05rem, 1.8vw, 1.8rem);
    }

/* Tooltip Gifs Container - Container for gifs that show user how to use carousel */ 
.tooltip__gifs-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: clamp(1rem, 3.7vw, 3rem);
}

/* Tooltip Gifs Container - Shows user how to user carousel */
.tooltip__gif {
    width: clamp(3.5rem, 6.6vw, 5rem);
    aspect-ratio: 1/1;
}
    /* Dark mode */
    .tooltip__gif.dark-mode {
        filter: invert(100);
    }

/* Swipe animation - Shows user they can swipe to scroll carousel */
.swipe-animation {
    background-image: url('../../images/projects_images/swipe_animation.gif');
    background-size: cover;
    background-position: center;
}

/* Tap animation - Shows user they can tap to scroll carousel */
.tap-animation {
    position: relative;
    width: 1.8rem;
    background-image: url('../../images/projects_images/arrow_button.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: .6;
}
    /* The actual tap animation, the above class just has a picture, this one has a gif overlayed on top */
    .tap-animation::after {
        width: 5rem;
        aspect-ratio: 1/1;
        content: '';
        position: absolute;
        top: 15px;
        left: -12px;
        right: 0;
        bottom: 0;
        background-image: url('../../images/projects_images/tap_animation.gif');

        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 1;
    }

/* Key animation - Shows user they can use arrow keys to scroll carousel */
.key-animation {
    width: 2.1rem;
    background-image: url('../../images/projects_images/key_animation.gif');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/*--------------------------------------------------------------------------------------//
//                                     ArrowButtons                                     //
//--------------------------------------------------------------------------------------*/

/* Container for both arrow buttons */
.arrow__buttons__container {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    margin-right: .5rem;
    top:0;
    right: 0;
}

/* Arrow button */
.arrow__button {
    background: none;
    border: none;
    height: clamp(1.5rem, 3.3vw, 2.5rem);
    aspect-ratio: 1/1;
    background-image: url('../../images/projects_images/arrow_button.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.arrow__button.dark-mode {
    filter: invert(100);
}
.arrow__button.left {
    transform: scaleX(-1);
    margin-right: clamp(.1rem, .3vw, .3rem);
}

/* Arrow button animation */
@keyframes arrowFadesRight {
    0% {opacity: 1; transform: translateX(0px) scale(1);}
    25%{opacity: 0; transform:translateX(10px) scale(0.9);}
    26%{opacity: 0; transform:translateX(-10px) scale(0.9);}
    55% {opacity: 1; transform: translateX(0px) scale(1);}
}
@keyframes arrowFadesLeft {
    0% {opacity: 1; transform: scaleX(-1) translateX(0px) scale(1);}
    25%{opacity: 0; transform: scaleX(-1) translateX(10px) scale(0.9);}
    26%{opacity: 0; transform: scaleX(-1) translateX(-10px) scale(0.9);}
    55% {opacity: 1; transform: scaleX(-1) translateX(0px) scale(1);}
}
.arrow__button.animation {
    animation-name: arrowFadesRight;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}
.arrow__button.animation.left {
    animation-name: arrowFadesLeft;
}
.animate {
    animation: baseFadeInSlideRight 1s ease-out;
}




/*--------------------------------------------------------------------------------------//
//                                     Carousel.css                                     //
//--------------------------------------------------------------------------------------*/

/* Overall container of the carousel. Sets width, height, and perspective. */
.carousel {
    left: var(--carousel-left-margin); /* Entire carousel is always 110px from left side of screen. */
    bottom: var(--carousel-bottom-margin);
    display: flex;
    transform: scale(var(--carousel-scale));
    transform-origin: top;
    width: var(--carousel-base-width); /* Increases width of container, not slides. */
    height: 13.125rem; /* Increases height of container, not slides. */
    position: relative;
    perspective: 62.5rem; /* Increasing makes the carousel fan out more. */
}

/* The container that holds the individual slides. */
.carousel__container {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
        object-fit: cover;
    /* margin-right: var(--projects-slideshow-margin-right); */
}

/* Style for each slide in the carousel. */
.carousel__slide {
    position: absolute;
    width: 11.575rem; /* Increases width of each slide, but not container. */
    height: 11.875rem;  /* Increases width of each slide, but not container. */
    left: 0.625rem;
    top: 0.625rem;
    border: 0.05rem solid;
    transition: transform 1s, opacity 1s;

}

/* Styles for the image in each slide. */
.carousel__slide img, .carousel__slide video {
    width: 100%; /* Resizes only the image, not container. will poke through */;
    height: 100%;
    object-fit: cover;
}

.carousel__slide video {
    object-fit: cover;
    padding-right: 0.3px;
    overflow: hidden;
}

/* Overlay style for each slide, typically for captions or additional content. */
.carousel__slide-overlay {
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    user-select: none;
}

/* Style for text elements inside the overlay. */
.carousel__slide-overlay span,
.carousel__slide-overlay strong {
    display: block;
    flex: 0 0 100%;
}

/* Changes the overlay opacity on hover. */
.carousel__slide:hover .carousel__slide-overlay {
    opacity: 1;
}


/* Style for the previous button's arrow. */
.carousel__control--prev::after {
    transform: rotate(45deg);
}

.carousel__description {
    min-width: 300px;
    height: 200px;
}

/* Wide screens */
@media (min-width: 1600px) {
    :root {
        --projects-title-padding: 18px;
        --projects-section-flex-direction: row;
        /* Carousel */
        --carousel-scale: 2.2;
        --carousel-left-margin: 125px;
    }
}

/* Standard tablet */
@media (max-width: 1350px) {
    :root {
        --projects-left-min-width: 620px;
        --carousel-scale: 2.05;
        --carousel-left-margin: 100px;
        --carousel-bottom-margin: 0px;
    }
}

@media (max-width: 1200px) {
    :root {
        --projects-title-padding: 12px;
        --projects-left-min-width: 572px;
        --carousel-left-margin: 86px;
        --carousel-scale: 1.87;
    }
}
@media (max-width: 1100px) { 
    :root { 
    --carousel-scale: 1.78; --carousel-left-margin: 76px; --projects-left-min-width: 550px; 
    } 
}
@media (max-width: 1150px) { 
    :root { 
    --carousel-scale: 1.72; --carousel-left-margin: 70px; --projects-left-min-width: 520px; 
    } 
}
@media (max-width: 1000px) { 
    :root { 
    --carousel-scale: 1.62; --carousel-left-margin: 56px; --projects-left-min-width: 490px; 
    } 
}

/* Once the window is small enough @960px, the text goes below the carousel and covers the whole width. */
@media (max-width: 960px) {
    :root {
        --projects-height: clamp(550px, 105vw, 740px);
        --projects-title-padding: 12px;
        --projects-text-spacer-up: 12%;
        --projects-extra-carousel-right-space: 0;
        --projects-text-container-width: 80%;
        --carousel-scale: 1.6;
        --carousel-left-margin: 86px;
        --carousel-bottom-margin: -2.4rem;
    }
    .projects__section {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .projects__left {
        height: 100%;
        align-items: center;
    }
    .projects__right {
        width: 100%;
    }
    .projects__text-container {
        width: 80%;
        margin-left: 0;
        align-self: center;
        align-items: center;
    }
    .carousel {
        margin-top: 0.8rem;
        transform-origin: top right;
    }
    .projects__carousel__tooltip {
        padding: 0;
        margin: .8rem;
        flex-direction: row;
        align-items: center;
    }
    .projects__carousel__tooltip p {
        margin-right: 2vw;
    }
    .tooltip__gif {
        width: 1.2rem;
    }
    .tap-animation::after {
        display: none;
    }
    .swipe-animation {
        height: 2.2rem;
    }
}

/* Standard smart phones */
@media (max-width: 720px) {
    :root {
        --projects-height: 655px;
        --projects-title-padding: 10px;
        --carousel-scale: 1.25;
        --carousel-left-margin: 46px;
    }
    .carousel {
        margin-left: -1rem;
    }
    .projects__text-container {
        margin-top: 1rem;
    }
    .projects__carousel__tooltip p {
        font-size: .9rem;
    }
}

/* Small smart phones */
@media (max-width: 560px) {
    :root {
        --projects-height: 600px;
        --carousel-scale: 1.05;
        --carousel-left-margin: 1.4rem;
    }
    .projects__text-container {
        margin-top: -1rem;
    }
    .projects__carousel__tooltip p {
        font-size: .7rem;
    }
}
@media (max-width: 490px) {
    :root {
        --projects-height: 600px;
        --carousel-scale: 0.98;
        --carousel-left-margin: 1.42rem;
    }
    .projects__text-container {
        margin-top: -1rem;
    }
    .projects__carousel__tooltip p {
        font-size: .7rem;
    }
}
@media (max-width: 420px) {
    :root {
        --projects-height: 525px;
        --carousel-scale: 0.9;
        --carousel-left-margin: 1.42rem;
    }
    .projects__text-container {
        margin-top: -2.9rem;
    }
    .projects__carousel__tooltip p {
        font-size: .6rem;
    }
}
@media (max-width: 380px) {
    :root {
        --projects-height: 525px;
        --carousel-scale: 0.8;
        --carousel-left-margin: 1.3rem;
    }
    .projects__text-container {
        margin-top: -2.9rem;
    }
    .projects__carousel__tooltip p {
        font-size: .6rem;
    }
}
