/*--------------------------------------------------------------------------------------//
//                                      Projects.css                                    //
//--------------------------------------------------------------------------------------*/

.projects {
    display: flex;
    flex-direction: column;
    height: clamp(310px, 64vw, 650px);
}

.projects__top {
    padding: 0 9vw;
}

.projects__header {
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    color: var(--app-theme-color);
    font-size: clamp(0.6rem, 2vw, 1rem);
}

.projects__subheader {
    font-family: 'Gilroy', sans-serif;
    margin: clamp(0.3rem, 1vw, 1rem) 0;
    font-weight: 600;
    letter-spacing: -2px;
    font-size: clamp(1.3rem, 4vw, 2.6rem);
}