/*--------------------------------------------------------------------------------------//
//                                      Projects.css                                    //
//--------------------------------------------------------------------------------------*/

.projects {
    display: flex;
    flex-direction: column;
    height: clamp(380px, 72vw, 650px);
    padding: 1rem;
    background-color: white;
}

.projects__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 9vw;
}

.projects__header {
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    color: var(--app-theme-color);
    font-size: clamp(0.6rem, 2vw, 1rem);
    margin-bottom: 0;
}
    .animate-projects-top {
        animation: baseFadeInSlideDown 0.75s ease forwards;
        opacity: 1;
    }

.projects__subheader {
    font-family: 'Gilroy', sans-serif;
    margin: clamp(0.3rem, 1vw, 1rem) 0;
    margin-bottom: clamp(0.5rem, 4vw, 2rem);
    font-weight: 600;
    letter-spacing: -2px;
    font-size: clamp(1.3rem, 4vw, 2.6rem);
}


.projects-carousel {
    display: flex;
    align-items: center;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    scrollbar-width:auto;
    opacity: 1; /* No animation for carousel, it's buggy*/
}

/* Scrollbar styles for WebKit browsers (Chrome, Safari) */
.projects-carousel::-webkit-scrollbar {
    height: 12px; /* Adjust the height of the scrollbar */
}

.projects-carousel::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
    border-radius: 10px; /* Rounded edges for the track */
    -webkit-box-shadow: inset 0 0 6px rgba(156, 156, 156, 0.3);
}

.projects-carousel::-webkit-scrollbar-thumb {
    background: #d9d9d9; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded edges for the thumb */
    -webkit-box-shadow: inset 0 0 6px rgba(168, 168, 168, 0.5);
}

.projects-carousel::-webkit-scrollbar-thumb:hover {
    background: rgb(164, 164, 164)/* Color of the scrollbar thumb on hover */
}
/* Hide scrollbar arrows for WebKit browsers */
.projects-carousel::-webkit-scrollbar-button {
    display: none;
}

.project-item {
    margin: 10px;
    scroll-snap-align: start;
    flex: 0 0 auto;
}

.project-media {
    width: 300px; 
    height: auto;
    border-radius: 0.5rem;
}

.project-title {
    font-size: clamp(0.9rem, 1.8vw, 1.1rem);
    margin: 10px 0 5px;
}

.project-subtitle {
    font-size: clamp(0.9rem, 1.5vw, 1rem);
    color: #666;
}

.project-item-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.projects .github-icon {
    display: flex;
    width: clamp(20px, 3vw, 30px);
    margin: 0 10px 0 10px;
}

.projects .github-button {
    display: flex;;
    align-items: center;
    margin-top: 15px;
}
@media (max-width: 800px) {
    .project-media {
        width: 220px;
    }
}
@media (max-width: 700px) {
    .project-media {
        width: 200px;
    }
}
@media (max-width: 620px) {
    .project-media {
        width: 180px;
    }
}
@media (max-width: 540px) {
    .project-media {
        width: 160px;
    }
}
@media (max-width: 460px) {
    .projects {
        height: 2330px;
    }
    .projects-carousel {
        flex-direction: column;
    }
    .project-item-bottom {
        margin-left: 50px;
    }
    .project-media {
        width: 250px;
    }
    .projects .github-button {
        display: none !important;
    }
}
@media (max-width: 300px) {
    .projects {
        height: 2080px;
    }
    .project-media {
        width: 220px;
    }
}