/*--------------------------------------------------------------------------------------//
//                                 SlideBackgrounds.css                                 //
//--------------------------------------------------------------------------------------*/

/* Backgrounds based on current slide */
.bg-slide-0 {
    background-color: red;
}
.bg-slide-1 {
    opacity: .3;
    background-color: white;
    background-image: url('../../images/slideshow_images/bg_blue_space.webp');
}
.bg-slide-2 {
    background-color: yellow;
}
.bg-slide-3 {
    background-color: green;
}
.bg-slide-4 {
    background-color: blue;
}
.bg-slide-5 {
    background-color: purple;
}
.bg-slide-6 {
    background-color: pink;
}