/*--------------------------------------------------------------------------------------//
//                                  DarkModeToggle.css                                  //
//--------------------------------------------------------------------------------------*/

.toggleButton {
    z-index: 1;         /* toggle button always stays on top of everything else */
}

/* Switch container */
.switch { 
    position: relative;
    display: inline-block;
    width: 60px;
    min-width: 60px;
    max-width: 60px;
    height: 33px;
    z-index: 1000; /* toggle button always stays on top of everything else */
}

/* Hide the checkbox input (since we want a toggle switch in this case) */
.switch input {  
    opacity: 0;
    width: 0;
    height: 0;
}

/* Visual slider part of the toggle switch */
.slider {
    position: absolute; /* Absolute position within .switch */
    cursor: pointer;
    background-color: #ccc;
    transition: .4s; /* Smooth transition for the sliding effect */
    border-radius: 34px; /* Rounded borders for the slider */
    width: 100%; /* Full width of the switch */
    height: 100%; /* Full height of the switch */
}

/* Circle part of the toggle switch */
.slider:before { 
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    transition: .4s;
    border-radius: 50%; /* Make it round */
    background-image: url('../images/sun.png'); /* Sun icon */
    background-size: cover;
    background-position: center;
}

/* Slider changes to sun/moon when the switch is in 'checked' state, i.e., dark mode is on */
input:checked + .slider:before {
    transform: translateX(27.5px);
    background-image: url('../images/moon.png');
}
