.skills {
    height: 630px;
    display: flex;
    flex-direction: column;
    background-color: var(--app-light-mode-color);
    padding-bottom: 1rem;
}
.skills.dark-mode {
    background-color: var(--app-dark-mode-color);
}
/* The header at the top of the section */
.skills-header {
    margin: 0;
    padding: 0;
    height: clamp(6rem, 14vw, 7.7rem);
    font-size: clamp(2.1rem, 4.8vw, 3rem);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0; /* Start off invisible before animation */
}
.skills-header.dark-mode {
    color: white;
}
/* Container for all of the skills categories */
.skills-category-container {
    display: flex;
    align-self: center;
    height: 77%;
    width: 100%;
    max-width: 1200px;
    display: flex;
    padding: clamp(.5rem, 2vw, 2rem);
    padding-top: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* gap: clamp(.5rem, 2vw, 2.6rem); */
}
/* Container for each individual skill */
.skills-category {
    background-color: white;
    /* border-radius: .8rem; */
    box-shadow: .45rem .45rem .5rem rgba(23, 23, 23, 0.5);
    padding: clamp(0.5rem, 2vw, 1.2rem);
    margin: 1rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 21%;
    max-width: 320px;
    transform: scale(1); /* Scale back to normal size when not hovering */
    transition: transform 0.5s ease;
    opacity: 0;
}
.animate-skills-category-right {
    animation: baseFadeInSlideRight 1.5s ease;
    opacity: 1;
}
.animate-skills-category-left {
    animation: baseFadeInSlideLeft 1.5s ease;
    opacity: 1;
}
.skills-category.dark-mode {
    background-color: rgb(58, 58, 58);
    box-shadow: .5rem .5rem .5rem rgba(46, 46, 46, 0.5);
    color: white;
}
.skills-category:hover {
    transform: scale(1.04);
    transition: transform 0.5s ease;
    box-shadow: .45rem .45rem 0.5rem rgba(23, 23, 23, 0.55);
}
/* Icon for each skill */
.skills img {
    width: clamp(5rem, 10vw, 7rem);
    aspect-ratio: 1/1;
    object-fit: contain;
    padding: .2rem;
}
/* Icons for hackathon & caring (made slightly smaller) */
.skills .hackathon-icon, .skills .caring-icon {
    padding: .3rem;
}
/* Title for each skill */
.skills h2 {
    font-size: clamp(1rem, 2.8vw, 1.5rem);
    font-weight: 400;
    margin: 0;
    padding: 0;
}
/* Description for each skill */
.skills p {
    font-family: 'Thasadith', sans-serif;
    font-size: clamp(.8rem, 1.7vw, 1.2rem);
    padding-top: 1.3vh;
    display: flex;
    text-align: left;
}

/* Media Queries:
    By default, I code considering an average window size on desktop (~1400x900 px).
    Then, I use media queries to adjust the layout for tablets, phones, wide screens, & tiny screens. */

/* Wide screens */
@media (min-width: 1600px) { }

/* Standard tablet */
@media (max-width: 1050px) { }

@media (max-width: 900px) {
    .skills-category-container {
        flex-direction: column;
        gap: 1rem;
    }
    .skills-category {
        height: 30%;
        width: 85%;
        max-width: 630px;
        margin: 0;
        flex-direction: row;
    }
    .skills-icon-header-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: clamp(7rem, 20vw, 8.5rem);
    }
    .skills-header {
        height: clamp(7rem, 17vw, 8rem);
    }
    .skills img {
        width: clamp(4.6rem, 12vw, 5.6rem);
    }
    .skills h2 {
        font-size: clamp(1rem, 3.5vw, 1.2rem);
    }
    .skills p {
        position: absolute;
        left: calc(19vw + 1.6rem);
        margin: 1rem;
        font-size: clamp(.9rem, 2.6vw, 1.3rem);
    }
    .skills {
        height: 870px;
    }
}


/* Standard smart phones */
@media (max-width: 720px) {
    .skills {
        height: 780px;
    }
}

/* Small smart phones */
@media (max-width: 560px) {
    .skills {
        height: 740px;
    }
    .skills p {
        font-size: .8rem;
    }
}
@media (max-width: 420px) {
    .skills {
        height: 670px;
    }
}