.skills {
    height: clamp(740px, 70vw, 800px);
    padding: 0 9vw;
}

/* The header at the top of the section */
.skills-header {
    font-family: 'Gilroy', sans-serif;
    margin-top: clamp(4rem, 3vw, 5rem);
    font-weight: 600;
    letter-spacing: -0.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0; /* Start off invisible before animation */
}

.skills-subheader {
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    letter-spacing: -0.5px;
}

/* Container for all of the skills categories */
.skills-category-container {
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    padding-top: 0;
    align-self: center;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}
/* Container for each individual skill */
.skills-category {
    padding: clamp(1.5rem, 4vw, 3rem);
    display: flex;
    flex-direction: row;
    align-items: center;;
    height: 100%;
    width: 50%;
    opacity: 0;
    background-color: white;
    border-radius: 1rem;
}
    .animate-skills-category-right {
        animation: baseFadeInSlideRight 1.5s ease;
        opacity: 1;
    }
    .animate-skills-category-left {
        animation: baseFadeInSlideLeft 1.5s ease;
        opacity: 1;
    }

.skill-row-1, .skill-row-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

/* Icon for each skill */
.skills img {
    width: clamp(4.5rem, 8.3vw, 6rem);
    aspect-ratio: 1/1;
    object-fit: contain;
    padding: clamp(0.8rem, 1vw, 1rem);
    margin-right: 1rem;
    background-color: rgb(230, 242, 255);
    border-radius: 0.5rem;
    border: 4px solid white;
    box-shadow: 4px 8px 15px rgb(213, 233, 255);
}


/* Title for each skill */
.skills-category-container h2 {
    font-family: 'Gilroy', sans-serif;
    font-size: clamp(1rem, 2.8vw, 1.7rem);
    font-weight: 600;
    letter-spacing: -0.5px;
    margin: 0;
    margin-top: 0rem;
}
/* Description for each skill */
.skills-category p {
    font-family: 'Gilroy', sans-serif;
    font-size: clamp(0.8rem, 1.2vw, 1rem);
    padding-top: .7rem;
    display: flex;
    text-align: justify;
}

@media (max-width: 762px) {
    .skills {
        height: 900px;
    }
    .skill-row-1, .skill-row-2 {
        flex-direction: column;
        width: 100%;
    }
    .skills-category {
        width: 100%;
    }

}
@media (max-width: 520px) {
    .skills {
        height: 920px;
    }
}
@media (max-width: 500px) {
    .skills {
        height: 960px;
    }
}
@media (max-width: 460px) {
    .skills {
        height: 1000px;
    }
}
@media (max-width: 430px) {
    .skills {
        height: 970px;
    }
}
@media (max-width: 400px) {
    .skills {
        height: 900px;
    }
}
@media (max-width: 360px) {
    .skills {
        height: 860px;
    }
}
@media (max-width: 340px) {
    .skills {
        height: 900px;
    }
}
@media (max-width: 300px) {
    .skills {
        height: 920px;
    }
}