/*--------------------------------------------------------------------------------------//
//                                   ResumeContact.css                                   //
//                Both in one file since they are both small components.                //
//--------------------------------------------------------------------------------------*/
* {
    color: black;
}
*.dark-mode {
    color: rgb(255, 248, 248);
}

/* Resume Contact Section */
.resume-contact {
    --resume-contact-header-font-size: 3rem;
    --resume-icon-width: calc(var(--resume-contact-header-font-size) * .5);
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--offwhite);
}
.resume-contact .dark-mode {
    background-color: black;
}
/* Styles for both */
.resume, .contact {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5%;
    border: .85rem solid white;
}
h2 {
    font-size: 3rem;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 500;
    margin-bottom: 1rem;
}



/* Resume */
.resume {
    display: flex;
    border-right: none;
}
/* Resume container for header: title + buttons */
.resume-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: auto;
    height: var(--resume-contact-header-font-size); /* Height = header font size */
}
.resume-icon {
    background-image: url('../images/resume_icon.png');
}

/* Resume buttons for download + open in new window */
.resume-button {
    display: flex;
    align-self: center;
    aspect-ratio: 1/1;
    width: var(--resume-icon-width);
    margin-left: .9rem;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--offwhite);
    border: none;
}

.download {
    background-image: url('../images/download_icon.png');
}

.new-window {
    background-image: url('../images/new_window_icon.png');
}




/* Contact */
.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contact-container {
    color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.contact-info {
    margin-bottom: 1rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.input-group {
    color:black;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.input-group input,
.contact-form textarea {
    background: white;
    border: .5px solid #cbcbcb;
    padding: 0.5rem;
}

.contact-form textarea {
    height: 150px;
    resize: none;
}
/* Contact Form Send Button */
.contact-submit-button {
    /* background-color: var(offwhite); */
    background-color: rgb(216, 216, 216);
    border-color: white;
    color: #000;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
}

.contact-submit-button:hover {
    background-color: #414141;
    color: #fff;
}
