/*--------------------------------------------------------------------------------------//
//                                      Home.css                                        //
//--------------------------------------------------------------------------------------*/

/* Fonts */
@font-face {
    font-family: 'Avenir Next', sans-serif;
    src: url('../fonts/Avenir-Next.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir Next', sans-serif;
    src: url('../fonts/Avenir-Next-Bold.otf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* All */
*, *:before, *:after {
    font-family: 'Thasadith', sans-serif;
    margin: 0;
    padding: 0;
}

/* Home */
/* Variables are used to make it easier to change the layout for different screen sizes */
.home {
    --home-font-size-name: 3.5rem;
    --home-alias-font-size: 2.2rem;
    --home-height: 85vh;
    --home-min-height: 1000px;
    --home-background-color: white;
    --home-image-path: url('../images/self-image.png');
    --home-image-height: 100%;
    --home-image-min-height: 800px;
    --home-image-width: 100%;
    --home-image-max-width: 600px;
    --home-move-image: 0, 5%;
    --home-move-text: 0;
    display: flex;
    flex-direction: row;
    height: var(--home-height);
    background-color: var(--home-background-color);
    width: 100%;
    flex-direction: row;
    overflow: hidden;
}
.dark-mode .home {
    --home-background-color: black;
    --home-image-path: url('../images/self-image-dark-mode.png');
}

/* Right side of home page, currently contains only an image of me */
.home__right {
    width: auto;
    min-width: 535px;
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    background-position: center top;
}

/* Image of me */
.home-image-container {
    width: var(--home-image-width);
    max-width: var(--home-image-max-width);
    height: var(--home-image-height);
    min-height: var(--home-image-min-height);
    
    display: flex;
    transform: translate(var(--home-move-image));
    background-image: var(--home-image-path);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.home-image-container.start-animation {
    animation: fadeInSlideRight .5s ease-out forwards;
}

/* Left side of home page, currently contains only text */
.home__left {
    display: flex;
    height: 100%;
    width: 70%;
    min-width: 330px;
}

/* Text container */
.home__text-container {
    width: 100%; 
    margin-left: 40px;
    animation: slide-in 1.5s, fade-in 1.2s;
    transform: translate(var(--home-move-text));
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    /* Prevent words from stacking in a column if there's no space */
    white-space: nowrap;
}

/* Text name (Kevin Cendana) and title (Computer Science Student, etc)*/
.home__text-name {
    font-family: 'Avenir Next', sans-serif;
    font-weight: 650;
    font-size: var(--home-font-size-name);
    margin-top: 2vh;
    margin-bottom: 1vh;
}
.home__text-alias {
    font-size: var(--home-alias-font-size);
    align-items: flex-start;
    margin-left: 4px;
}

/* Animations */
@keyframes fadeInSlideRight {
    from {
        opacity: 0;
        /* Combine original translation with the slide effect */
        transform: translate(var(--home-move-image)) translateX(-20px); 
    }
    to {
        opacity: 1;
        /* Retain the original translation after the animation ends */
        transform: translate(var(--home-move-image)) translateX(0);
    }
}


/* Media Queries:
/  By default w/o queries, I assume an average window size on desktop (~1400x900 px).
/  Queries are used for: wide screens, standard tablets & phones, & small phones.
/  Note: I change the background color just to debug; makes it easier to see what query is being applied.*/


/* Wide screens */
@media (min-width: 1600px) {
    .home {
        --home-font-size-name: 3.5rem;
        --home-alias-font-size: 2.2rem;
        --home-height: 85vh;
        /* --home-background-color: red; */
        --home-image-height: 100%;
        --home-image-min-height: 800px;
        --home-image-width: 100%;
        --home-image-max-width: 600px;
        --home-move-image: 0, 5%;
        --home-move-text: 0;
    }
}

/* Standard tablet */
@media (max-width: 1050px) {
    .home {
        --home-font-size-name: 2.6rem;
        --home-alias-font-size: 1.7rem;
        --home-height: 65vh;
        /* --home-background-color: orange; */
        --home-image-height: 90%;
        --home-image-min-height: 680px;
        --home-image-width: 90%;
        --home-image-max-width: 600px;
        --home-move-image: 10%, 10%;
        --home-move-text: 0;
    }
}

/* Standard smart phones */
@media (max-width: 720px) {
    .home {
        --home-font-size-name: 2rem;
        --home-alias-font-size: 1.3rem;
        --home-height: 50vh;
        --home-move-image: -3%, 12%;
        --home-move-text: -6%;
        /* --home-background-color: yellow; */
        --home-image-height: 75%;
        --home-image-min-height: 520px;
        --home-image-width: 75%;
        --home-image-max-width: 600px;
    }
}

/* Small smart phones */
@media (max-width: 560px) {
    .home {
        --home-font-size-name: 1.5rem;
        --home-alias-font-size: 1rem;
        --home-height: 40vh;
        --home-move-image: -23%, 10%;
        --home-move-text: 0;
        /* --home-background-color: green; */
        --home-image-height: 70%;
        --home-image-min-height: 500px;
        --home-image-width: 70%;
        --home-image-max-width: 600px;
    }
}
