/*--------------------------------------------------------------------------------------//
//                                                                                      //
//                                  PolaroidStack.css                                   //
//                                                                                      //    
//                       Credit: https://codepen.io/havardob/pen/jOwrXaJ                //
//--------------------------------------------------------------------------------------*/


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'sam', sans-serif;
    src: url('../../fonts/Sam.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

*, *:after, *:before {
	box-sizing: border-box;
	--polaroid-caption-font-size: clamp(1rem, 2.95vw, 1.95rem);
}

/* Polaroid stack */
.polaroid__stack {
	width: 85%;
	max-width: 400px;
	transition: .25s ease;
	background-color: orange;
	
	&:hover {			
		transform: rotate(6deg);
		.card:before {
			transform: translatey(-4%) rotate(-8deg);
		}	
		.card:after {
			transform: translatey(4%) rotate(8deg);
		}
	}
}

/* Polaroid card */
.polaroid__card {
	display: flex;
	flex-direction: column;
	height: 100%;
	border: 4px solid black;
	position: relative;
	transition: .15s ease;
	cursor: pointer;
	padding: 5% 5% 5% 5%;
	background-color: white;
	z-index: auto;
	
	&:before, &:after {
		content: "";
		display: block;
		position: absolute;
		height: 100%;
		width: 100%;
		border: 4px solid;
		background-color: white;
		transform-origin: center center;
		z-index: -1;
		transition: .15s ease;
		top: 0;
		left: 0;
	}
	
	&:before {
		transform: translatey(-2%) rotate(-6deg);
		z-index: -1;
	}
	
	&:after {
		transform: translatey(2%) rotate(6deg);
		z-index: -2;
	}
}

.polaroid__card.dark-mode  {
	background-color: var(--app-dark-mode-color);
	border: 2.5px solid white;
	&:before, &:after {
		background-color: black;
		border: 2.5px solid white;
	}
}

/* Polaroid image */
.polaroid__image {
	width: 100%;
	border: 4px solid black;

	height: 100%;
	position: relative;
	overflow: hidden;
	/* Background Credit: Snowing Animation https://lottiefiles.com/animations/snowing-88MJ8DVqnf */
	background: url('../../images/snowflake_animation.gif') center/cover no-repeat, 
	linear-gradient(to bottom, #c6efff, #ffffff);
	background-size: cover;
}
.polaroid__image.dark-mode {
	background: url('../../images/snowflake_animation.gif') center/cover no-repeat, 
	linear-gradient(to bottom, #0c005d, #7e93ff);
}
/* Psuedo element to lighten image when in dark mode */
.polaroid__image.dark-mode::before {

}

/* Polaroid caption */
.polaroid__caption {
	font-family: sam;
	display: flex;
	align-self: center;
	justify-self: center;
	margin-top: 5.5%;
	margin-bottom: 2%;
	font-size: var(--polaroid-caption-font-size);
	color: black;

}
.polaroid__caption.dark-mode {
	color: white;
}	

