/*--------------------------------------------------------------------------------------//
//                                Typing Dots Animation                                 //
//--------------------------------------------------------------------------------------*/

/* Typing Dots - Container */
.typingDots {
  box-sizing: content-box;
  visibility: hidden; 
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;       
  justify-content: center;
  margin-top: .25rem;
  width: 1.45em;
  height: 1.1em;
  padding: .4rem .8rem; 
  border-radius: 50px; 
  transition: opacity .3s, visibility .3s .3s; /* Transition for opacity and visibility */
  z-index: 2;
  animation: scaleUp 2.5s ease-in-out;      /* Animation for scaling up */
}

/* Dot - Individual dot in typing animation */
.dot {
  width: .5em;
  height: 0.55em;
  border-radius: 80%; 
  background-color: #B3B3B3; 
  margin: 0 2.2px; 
  transform: scale(1); 
}

/* ColorChange1 - Animation for first dot color and scale */
@keyframes colorChange1 {
  0%, 100% {
  background-color: var(--secondDotColor);
    transform: scale(1); 
  }
  20%, 25% {
    background-color: #9c9c9c; /* Intermediate color */
    transform: scale(1.15);      /* Scale up */
  }
}
/* ColorChange2 - Animation for second dot color and scale */
@keyframes colorChange2 {
  0%, 100% {
    background-color: var(--secondDotColor);
    transform: scale(1); 
  }
  50%, 55% {
    background-color: #8a8a8a; /* Intermediate color */
    transform: scale(1.15);      /* Scale up */
  }
}
/* ColorChange3 - Animation for third dot color and scale */
@keyframes colorChange3 {
  0%, 100% {
    background-color: var(--secondDotColor);
    transform: scale(1); 
  }
  80%, 85% {
    background-color: #8a8a8a; /* Intermediate color */
    transform: scale(1.15);      /* Scale up */
  }
}

/* Applying animations to each dot */
.dot:nth-child(1) {
  animation: colorChange1 1.2s infinite; /* First dot */
}
.dot:nth-child(2) {
  animation: colorChange2 1.2s infinite; /* Second dot */
}
.dot:nth-child(3) {
  animation: colorChange3 1.2s infinite; /* Third dot */
}

/* TypingDotsVisible - Style when dots are visible */
.typingDotsVisible {
  visibility: visible; 
}

/*--------------------------------------------------------------------------------------//
//                                    Speech Bubbles                                    //
//--------------------------------------------------------------------------------------*/

/* SpeechBubble - Container for speech bubbles */
.speechBubble {

  --secondDotColor: rgb(84, 84, 84);          /* Variable for dot color */
  --speechBubbleColor: rgb(234, 234, 234);    /* Variable for bubble color */
  --speechBubblePadding: .8rem 1.3rem;          /* Variable for bubble padding */
  --speechBubbleTailHeight: 1.6rem;             /* Variable for tail height */
  --speechBubbleTailWidth: 2rem;                /* Variable for tail width */
  --speechBubbleTailBottom: .2rem;              /* Variable for tail position from bottom */
  --speechBubbleTailLeft: -.8rem;               /* Variable for tail position from left */
  --speechBubbleTailRotate: -11deg;             /* Variable for tail rotation */
  position: relative;
  letter-spacing: -.015rem;
  margin-bottom: clamp(0.05rem, 0.7vw, 0.3rem); /* Responsive margin below speech bubble*/
  border-radius: clamp(.7rem, 2.5vw, 1.9rem);   /* Responsive border-radius */
  background-color: var(--speechBubbleColor);
  justify-content: flex-end;
  align-self: flex-start;
  display: inline-block;
  animation: baseFadeInSlideRight .7s ease-in-out; /* Fade-in and slide animation */
}

/* SpeechBubbleTail - 'Tail' part of speech bubble */
.speechBubble:before {
  content: "";
  position: absolute;
  bottom: var(--speechBubbleTailBottom); 
  left: var(--speechBubbleTailLeft);
  height: var(--speechBubbleTailHeight);
  width: var(--speechBubbleTailWidth); 
  background-image: url('../../images/about_images/speech_bubble_tail.png'); /* Image for tail */
  background-size: cover;
  background-repeat: no-repeat;
  transform: rotate(var(--speechBubbleTailRotate)); /* Rotation of tail */
}

/* SpeechBubbleHideTail - Hide tail for all but the first speech bubble */
.speechBubble.hideTail:before {
  display: none;
}

/* SpeechBubbleParagraph - Paragraph inside speech bubble */
.speechBubble p {
  padding: var(--speechBubblePadding); /* Padding inside bubble */
}

/* Break - Vertical spacing between speech bubbles */
br {
  content: "";
  display: block;
}

/* SpeechBubbleFadeInSlideRight - Animation for speech bubble expansion */
@keyframes speechBubbleFadeInSlideRight {
from {
    opacity: 0;
    transform: translateX(-2%); /* Start position */
}
to {
    opacity: 1;
    transform: translateX(0%); /* End position */
}
}

/* ScaleUp - Typing dots fade in and scale upwards diagonally */
@keyframes scaleUp {
0% {
  opacity: 0;
  transform: scale(.8) translate(0, 0);
}
40% {
  opacity: .8;
  transform: scale(1);
}
100% {
  opacity: 1;
  transform: scale(1);
}
}
.scaleUp {
  animation: scaleUp .7s ease-in-out; /* Apply scale up animation */
}

/* Media Queries - Adjust styles for different screen sizes */

/* Wide screens */
@media (min-width: 1600px) { }

/* Standard tablet */
@media (max-width: 1050px) {
.speechBubble {
  --speechBubblePadding: .6rem .9rem;
  --speechBubbleTailHeight: 1.4rem;
  --speechBubbleTailWidth: 1.7rem;
  --speechBubbleTailBottom: -.05rem;
  --speechBubbleTailLeft: -.75rem;
  --speechBubbleTailRotate: -10deg;
}
}

/* Standard smart phones */
@media (max-width: 720px) {
.speechBubble {
  --speechBubblePadding: .5rem .8rem;
  --speechBubbleTailHeight: 1.35rem;
  --speechBubbleTailWidth: 1.3rem;
  --speechBubbleTailBottom: -0.1rem;
  --speechBubbleTailLeft: -.55rem;
  --speechBubbleTailRotate: -10deg;
}
}

@media (max-width: 640px) {
  .speechBubble { --speechBubblePadding: .4rem .7rem; }
}

/* Small smart phones */
@media (max-width: 560px) {
.speechBubble {
  --speechBubblePadding: .3rem .7rem;
  --speechBubbleTailHeight: 1.1rem;
  --speechBubbleTailWidth: 1.2rem;
  --speechBubbleTailBottom: 0rem;
  --speechBubbleTailLeft: -0.55rem;
  --speechBubbleTailRotate: -12deg;
}
}

@media (max-width: 490px) {
  .speechBubble { --speechBubblePadding: .28rem .6rem; }
}