/*--------------------------------------------------------------------------------------//
//                                                                                      //
//                                  PolaroidStack.css                                   //
//                                                                                      //    
//                       Credit: https://codepen.io/havardob/pen/jOwrXaJ                //
//--------------------------------------------------------------------------------------*/


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

*, *:after, *:before {
	box-sizing: border-box;
}

img {
	display: block;
	max-width: 100%;
}

.stack {
	width: 85%;
	max-width: 400px;
	transition: .25s ease;
	&:hover {			
		transform: rotate(5deg);
		.card:before {
			transform: translatey(-2%) rotate(-4deg);
		}	
		.card:after {
			transform: translatey(2%) rotate(4deg);
		}
	}
}

.card {
	aspect-ratio: 3 / 2;
	border: 4px solid;
	background-color: #FFF;
	position: relative;
	transition: .15s ease;
	cursor: pointer;
	padding: 5% 5% 15% 5%;
	&:before, &:after {
		content: "";
		display: block;
		position: absolute;
		height: 100%;
		width: 100%;
		border: 4px solid;
		background-color: #FFF;
		transform-origin: center center;
		z-index: -1;
		transition: .15s ease;
		top: 0;
		left: 0;
	}
	
	&:before {
		transform: translatey(-2%) rotate(-6deg);
	}
	
	&:after {
		transform: translatey(2%) rotate(6deg);
	}
	

	
}
	.image {
		width: 100%;
		border: 4px solid;
		background-color: #EEE;
		aspect-ratio: 1 / 1;
		position: relative;
	}
