/*--------------------------------------------------------------------------------------//
//                                      Home.css                                        //
//--------------------------------------------------------------------------------------*/

/* Home - Main container */
.home {
    position: relative;
    margin-top: var(--navbar-height);
    height: clamp(310px, 75vw, 842px);
    overflow: hidden;
    flex-direction: row;
}

/* Home Dark Mode - Style for dark mode */
.home.dark-mode {
    color: white;
}

/* Home Image - Image of the user */
.home-image {
    display: flex;
    position: absolute;
    top: 5%;
    left: 59.5%;
    height: clamp(400px, 72vw, 800px); 
    aspect-ratio: 1/1.56; 
    /* top: 4.5%;
    left: 56.5%;
    height: clamp(400px, 110vw, 1105px);      
    aspect-ratio: 1/1.55; */
    opacity: 0;
    filter: brightness(100%);
}

/* Home Image Dark Mode - Background image for dark mode */
.home__image-container.dark-mode {
    filter: brightness(120%);
}

/* Animate Home Image - Animation for home image */
.animate-home-image {
    animation: baseFadeInSlideRight .85s ease-out forwards;
    opacity: 1;
}

/* Home Left - Left side of the home page */
.home__left {
    position: absolute;
    display: flex;
    height: 100%;
    width: 65%;
}

/* Text Container - Container for text */
.home__text-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    white-space: nowrap; /* Prevent words from stacking */
    opacity: 0;
}

/* Animate Text Container - Animation for text container */
.animate-home-text-container {
    animation: baseFadeInSlideRight .85s ease-out forwards;
    opacity: 1;
}

/* Block Wrapper - Text wrapper to maintain block shape */
.block-wrapper {
    display: block;
}

/* Text Name - User's name */
.home__text-name {
    position: relative;
    margin: 0 0 .4rem 0;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 800;
    font-size: clamp(1.6rem, 5.3vw, 3.5rem);
}

/* Text Alias - User's alias or title */
.home__text-alias {
    display: flex;
    align-items: flex-start;
    margin-left: 1.5px;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 300;
    font-size: clamp(1rem, 3.3vw, 2.05rem);
}
