/*--------------------------------------------------------------------------------------//
//                                  RotatingText.ccs                                    //
//--------------------------------------------------------------------------------------*/

/* Credit for rotating text animation: https://www.npmjs.com/package/react-rotating-text?activeTab=readme */
.react-rotating-text-cursor {
  animation: blinking-cursor 1.2s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}

@-moz-keyframes blinking-cursor {
  0%, 90% { /* 1 second of 1.2 seconds is approximately 83% */
    opacity: 0;
  }
  83.1%, 91.6% { /* Remain visible for a short period */
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}