
/*--------------------------------------------------------------------------------------//
//                                       Contact                                        //
//--------------------------------------------------------------------------------------*/

/* Resume Contact Section */
.contact {
    height: 530px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: clamp(0.5rem, 1vw, 1.5rem);
}

/* Header for both Resume & Contact */
.contact h1 {
    display: flex;
    align-self: center;
    font-size: clamp(2.05rem, 5vw, 2.3rem);
}

/* Contact Main Content Wrapper - Wrapper for all of the Contact seciton except the header*/
.contact-main-content-wrapper {
    display: flex;
    flex-direction: row;
    align-self: center;
    height: 70%;
    width: 70%;
}

/* Contact Header - Title for the Contact section*/
.contact-header {
    opacity: 0;
}
    /* Animation plays when Contact is in view, slides and fades into view*/
    .animate-contact-header {
        animation: baseFadeInSlideDown 0.75s ease forwards;
        opacity: 1;
    }

/* Contact Left & Right */
.contact-left, .contact-right {
    height: 100%;
}

/* Contact Left - Container for Contact form*/
.contact-left {
    padding: 0 .8rem 0 1rem;
    margin: 0;
    opacity: 0;
    display: flex;
    justify-content: flex-end;
    width: 65%;
}
    /* Animation plays when Contact is in view, slides and fades into view*/
    .animate-contact-left {
        animation: baseFadeInSlideRight 0.75s ease forwards;
        opacity: 1;
    }

/* Contact Form - Container for the form */
.contact-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-width: 400px;
    max-width: 560px;
}

/* Contact Name & Email-  Container */
.contact-name-and-email {
    display: flex;
    flex-direction: column;
    width: 100%;
    display: flex;
    gap: 0.5rem; /* Gap b/t Name & Email  */
    margin-bottom: 0.5rem; /* Gap b/t Email and Message */
}

/* Input - Input fields for Name, Email. However, Message is more suited to be a Textarea */
input {
    height: 2rem;
    width: 100%;
}

/* Name & Email, Message, Submit Button */
input, textarea,
.contact-submit-button {
    width: 100%;
    padding: .5rem;
}

/* Contact Form Message - Text Area for the user to input a message to send */
.contact-form-message {
    height: 164px; 
    resize: none;
}

/* Contact Form Send Button */
.contact-submit-button {
    border-left: 1px solid black; 
    border-right: 1px solid black; 
    border-bottom: 1px solid black;
    border-top: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Pop up box for form submission */
.popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    padding: 1.2rem;
    border-radius: 5px;
}

/* Pop up message for form submission */
.popup p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

/* Pop up button for form submission */
.popup button {
    padding: 0.4rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: .4rem;
}

/* Pop up background for form submission */
.popup-background {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    z-index: 1000; 
}


/* Contact Right - Container for the contact information */
.contact-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    opacity: 0;
    width: 35%;
}
    /* Animation plays when Contact is in view, slides and fades into view*/
    .animate-contact-right {
        animation: baseFadeInSlideLeft 0.75s ease forwards;
        opacity: 1;
    }

.contact-info {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 295px;
    padding: 0 0.8rem;
}

.contact-info-text {
    padding: 1rem;
    border-radius: 8px;
    align-items: space-between;
}

.contact-name {
    font-size: 1.48rem;
    margin-bottom: 0.4rem;
}

.contact-city {
    font-size: 1.36rem;
    margin-bottom: 0.5rem;
}

.contact-email {
    font-size: 0.8rem;
    letter-spacing: -0.6px;
}

/* Contact Profile Picture */
.contact-profile-picture-container {
    display: flex;
    aspect-ratio: 1/1;
    width: clamp(100px, 30vw, 150px);
    align-self: center;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 1.5px 1px 1px 1px rgb(180, 180, 180);
    border: 0px solid black;
    overflow:hidden;
    margin-bottom: 1rem;
}

.contact-profile-picture {
    width: 92%;
    transform: translate(4px,7.5px);
}

/* Small/Big Screens only: Hide content based on screen size. */ 
.small-screens-only {
    display: none;
}

/* Wide Screens: Increase height of contact form */
@media (min-width: 1250px) {
    .contact {
        height: 595px;
    }   
    .contact-form-message {
        height: 200px;
    }
}
@media (min-width: 1600px) {
    .contact {
        height: 650px;
    }   
    .contact-form-message {
        height: 240px;
    }
}

/* Small Screens Only: Move contact info based on screen size. */
@media (max-width: 800px) {
    .big-screens-only {
        display: none;
    }
    .small-screens-only {
        display: flex;
    }
    .contact {
        height: clamp(500px, 130vw, 690px);
    }
    .contact-subheader {
        margin-bottom: 1rem;
    }
    .contact-main-content-wrapper {
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .contact-left, .contact-right {
        padding: 0 3rem;
    }
    .contact-left {
        height: 320px;
        width: 100%;
    }
    .contact-form {
        min-width: 100%;
        max-width: 100%;
    }
    .contact-right {
        margin-top: 10px;
        margin-bottom: 1rem;
        height: clamp(110px, 35vw, 190px);
        width: 100%;
    }
    .contact-profile-picture-container {
        width: 60%;
        min-width: 80px;
        max-width: 140px;
        margin-right: clamp(0px, 2vw, 10px);
    }
    .contact-info-text {
        align-self: center;
    }
    .contact-info {
        flex-direction: row;
        justify-content: center;
        width: 100%;
        border-radius: 0px;
    }
    .contact-name, .contact-city {
        font-size: clamp(1rem, 3.3vw, 1.4rem);
    }
    .contact-city {
        margin-bottom: 0.4rem;
    }
    .contact-email {
        font-size: clamp(0.7rem, 2.5vw, 0.9rem);
    }
    
}

@media (max-width: 550px) {
    .contact {
        height: 640px;
    }
    .contact-info {
        height: 140px;
    }
    .contact-profile-picture-container {
        width: 100px;
    }
    .contact-left, .contact-right {
        padding: 0 1.5rem;
    }
    .contact-right {
        height: 130px;
    }
    .contact-city {
        margin-bottom: 0.25rem;
    }
}
@media (max-width: 550px) { .contact { height: 600px; } }
@media (max-width: 450px) { .contact { height: 580px; } }
@media (max-width: 400px) { 
    .contact { 
        height: 520px; 
    } 
    .contact-right {
        height: 110px;
    }
    .contact-form-message {
        height: 130px;
    }
}
