/*--------------------------------------------------------------------------------------//
//                                    Footer.css                                        //
//--------------------------------------------------------------------------------------*/

/* Footer */
footer {
    display: flex;
    flex-direction: row;
    bottom: 0;
    height: 3.2rem;
    width: 100vw;
    padding: 0 9vw;
}

/* Footer - Left & Right Side*/
.footer-left, .footer-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
}
.footer-left {
    align-items: flex-start;
}
.footer-right {
    align-items: flex-end;
}
.footer-left p {
    font-family: "Gilroy", sans-serif !important;
    font-weight: 500;
}