/*--------------------------------------------------------------------------------------//
//                                   ResumeContact.css                                   //
//                Both in one file since they are both small components.                //
//--------------------------------------------------------------------------------------*/

/* Resume Contact Section */
.resume-contact {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 2.8rem;
    --input-padding: clamp(0.25rem, 1vw, 0.5rem); 
    --button-width: clamp(1rem, 4.2vw, 1.5rem); 
}
/* Styles for both */
.resume, .contact {
    background-color: var(--app-light-mode-color);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: clamp(0.5rem, 1vw, 1.5rem);
}
.resume-contact.dark-mode, .resume.dark-mode, .contact.dark-mode {
    /* background-color: var(--app-dark-mode-color); */
    color: white;
}

.resume-contact h2 {
    height: clamp(2rem, 9vw, 3rem);
    padding-top: clamp(.7rem, 1vw, 1rem);
    margin-bottom: clamp(1.8rem, 2vw, 2.5rem);
    display: flex;
    align-self: center;
    font-size: clamp(2.15rem, 5vw, 2.3rem);
}

/* Resume */
.resume {
    display: flex;
    flex-direction: column;
    width: 638px;
    min-width: 638px;
    margin-right: 0; /* Every section has margin already, so Contact is far enough */
}
/* Resume wrapper for both the image and the skills list */
.resume-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.animate-resume {
    animation: baseFadeInSlideRight 0.75s ease forwards;
    opacity: 1;
}
/* Resume header */
.resume-header {
    opacity: 0;
}
.animate-resume-header {
    animation: baseFadeInSlideRight 0.75s ease forwards;
    opacity: 1;
}
/* Resume image container (not the actual img) */
.resume__image__container {
    display:flex;
    position: relative;
    margin-left: clamp(.3rem, 3vw, 1.2rem);
    padding: 0px;
}
/* The actual image */
.resume__image__container img {
    aspect-ratio: 1/1.2;
    width: 270px;
    /* border: 1px solid black; */
    background-color: black;
    box-shadow: .4rem .4rem .5rem rgba(0,0,0,0.5);
}
/* Size of both the image and the slide out with all the skills. */
.resume__image__container img, .resume__right {
    aspect-ratio: 1/1.2;
    width: 250px;
}
/* Slide out with all the skills */
.resume__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    margin-left: clamp(.3rem, 3vw, .8rem);
    margin-top: -5px;
    height: 324px;
    
    /* border: 1px solid black;
    background-color: white; */
}
/* Magnifying glass icon */
.resume__image__magnifying-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: clamp(1.9rem, 5vw, 2rem); 
    aspect-ratio: 1/1;
    pointer-events: none; 
    background-image: url('../../images/magnifying_glass_icon.png');
    background-repeat: no-repeat;
    background-size: cover;
    animation: floatUpDown 3s linear infinite;
}

/* Resume buttons for download + open in new window */
.resume-button {
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
    aspect-ratio: 1/1;
    width: var(--button-width);
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    border: none;
}
.download {
    background-image: url('../../images/download_icon.png');
    margin: 0 0 .7rem .5rem;
}

.new-window {
    background-image: url('../../images/new_window_icon.png');
    margin: 0 0 .7rem 2.7rem;
}

.download.dark-mode, .new-window.dark-mode {
    filter: invert(100);
    
}

/* Magnifying glass animation: Float up and down */
@keyframes floatUpDown {
    0%, 100% { transform: translateY(-2px); } /* Starting and ending at the original position */
    50% { transform: translateY(2px); } /* Peak of the float, adjust px for more or less movement */
}

/* list */
.attributes-list {
    display: none; /* Initially hide all lists */
    list-style: none; /* Removes bullet points from lists */
    align-self: flex-start;
    justify-content: flex-start;
    margin-top: -.4rem;
}

.attribute {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: clamp(.7rem, 3vw, 1.4rem);
    opacity: 1;
    transition: transform 0.3s ease, opacity 0.3s ease;

}

.custom-icon {
    margin-right: .5rem;
    width: clamp(1.5rem, 3vw, 2rem);
    aspect-ratio: 1/1;
    
}

.attribute-text {
    text-wrap: nowrap;
    font-weight: 1000;
    font-size: clamp(1.3rem, 3vw, 1.45rem);
}

.attribute-hide {
    opacity: 0;
    transform: translateX(1rem);

}



/*--------------------------------------------------------------------------------------//
//                                       Contact                                        //
//--------------------------------------------------------------------------------------*/

.contact {
    display: flex;
    flex-direction: column;
    width: fill-available;
    /* padding: clamp(.2rem, 1.5vw, 1.7rem); */
}

/* Contact header */
.contact-header {
    opacity: 0;
}
.animate-contact-header.big-screens-only {
    animation: baseFadeInSlideLeft 0.75s ease forwards;
    opacity: 1;
}
.contact-header.small-screens-only {
    display: none;
}

.contact-container {
    color: black;
    padding: 0 1.2rem 1.2rem 1.2rem;
    height: 83%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    opacity: 0;
}
.animate-contact {
    animation: baseFadeInSlideLeft 0.75s ease forwards;
    opacity: 1;
}

.contact-form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: black;
    display: flex;
    gap: clamp(0.2rem, .5vw, 4rem);
    margin-bottom: clamp(0.2rem, .5vw, .4rem);
}
input {
    height: 2rem;
    width: 100%;
}

.input-group input,
.contact-form textarea {
    padding: var(--input-padding);
}

.contact-form textarea {
    height: 250px; 
    resize: none;
}

/* Contact Form Send Button */
.contact-submit-button {
    background-color: rgb(216, 216, 216);
    border-left: 1px solid black; 
    border-right: 1px solid black; 
    border-bottom: 1px solid black;
    border-top: none;
    color: #000;
    padding: 0.5rem;
    margin-bottom: .8rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.contact-submit-button:hover {
    background-color: #414141;
    color: #fff;
}
.contact-submit-button.small-screens-only {
    display: none;
}

/* Media Queries:
/  By default w/o queries, I assume an average window size on desktop (~1400x900 px).
/  Queries are used for: wide screens, standard tablets & phones, & small phones. */

/* Shrink Resume section width on smaller screens */
@media (max-width: 1100px) {
    .resume {
        min-width: 580px;
    }
    .resume__image__container img, .resume__right {
        aspect-ratio: 1/1.2;
        width: 240px;
    }
    .attribute {
        margin-bottom: 1.4rem;
    }
    .attribute-text {
        font-size: 1.4rem;
    }
    .custom-icon {
        width: 1.67rem;
    }
}
@media (max-width: 1020px) {
    .resume {
        min-width: 530px;
    }
    .resume__image__container img, .resume__right {
        width: 220px;
    }
    .attribute {
        margin-bottom: 1.25rem;
    }
    .attribute-text {
        font-size: 1.3rem;
    }
    .custom-icon {
        width: 1.5rem;
    }
}


/* Once the screen is small enough @ 900px: 
    - Stack the Resume and Contact sections
    - Name, Email, & Send button are now stacked in a column on the left side
    - Message text field takes up the right side  */
@media (max-width: 900px) {
    .resume-contact {
        height: 85vh;
        flex-direction: column;
    }
    .resume {
        width: 96.1%;
        min-width: 0;
        margin: var(--section-margin);
    }
    .resume-wrapper {
        align-items: flex-start;
        justify-content: flex-start;
    }
    .resume__image__container {
        margin-left: clamp(3rem, 13vw, 7rem);
    }
    .resume__image__container img {
        width: 280px;
    }
    .attribute {
        margin-bottom: 1.5rem;
    }
    .attribute-text {
        font-size: 1.55rem;
    }
    .custom-icon {
        width: 2.2rem;
        margin-right: .8rem; 
    }

    .input-group {
        width: 38%;
        gap: 0;
        margin-right: 1rem;
        margin-bottom: 0;
    }
    input {
        margin-bottom: .62rem;
    }
    .contact {
        padding: 1.6rem;
        height: 38vh;
        align-items: center;
        justify-content: center;
    }
    .contact-container {
        height: 100%;
    }
    .contact-form {
        flex-direction: row;
        padding: 0;
    }
    .contact-form textarea {
        width: fill-available;
        height: 190px;
    }
    .contact-submit-button.small-screens-only, .contact-header.small-screens-only {
        display: block;
    }
    .contact-header.small-screens-only {
        margin: .3rem 0 -.3rem 0;
        letter-spacing: .15rem;
        padding: 0;
        align-self: center;
        font-size: clamp(1.7rem, 2vw, 2.2rem);
    }
    .contact-submit-button.small-screens-only {
        margin: 0;
        border: none;
    }
    .contact-submit-button.big-screens-only, .contact-header.big-screens-only {
        display: none;
    }
    .animate-contact-header.small-screens-only {
        opacity: 1;
    }
}

/* Resize Resume + Contact height & padding */
@media (max-width: 760px) {
    .resume-contact {
        height: 74vh;
    }
    .resume {
        height: 42vh;
    }
    .resume__image__container {
        margin-left: clamp(3rem, 13vw, 7rem);
    }
    .resume__image__container img {
        width: 240px;
    }
    .attribute {
        margin-bottom: 1.2rem;
    }
    .attribute-text {
        font-size: 1.15rem;
    }
    .custom-icon {
        width: 1.9rem;
        margin-right: .7rem; 
    }
    .contact {
        height: 30vh;
    }
}

/* Resizing Resume */
@media (max-width: 680px) {
    .resume { height: 40vh; }                                   /* Resume height */
    .resume__image__container { margin-left: 2.5rem; }            /* Decrease space to the left of Resume */ 
    .resume__image__container img { width: 226px; }             /* Resume image size */
    .attribute { margin-bottom: 1.2rem; margin-left: -.4rem;}   /* Space between attributes */
    .attribute-text { font-size: 1.1rem; }                     /* Attribute text size */
    .custom-icon { width: 1.9rem; margin-right: .6rem; }        /* Attribute icon size */
}
@media (max-width: 560px) {
    .resume { height: 40vh; }                                   /* Resume height */
    .resume__image__container { margin-left: 2rem; }            /* Space to the left of Resume */ 
    .resume__image__container img { width: 196px; }             /* Resume image size */
    .attribute { margin-bottom: 1.1rem; margin-left: -.6rem;}   /* Space b/t attributes, space left of list */
    .attribute-text { font-size: 1rem; }                     /* Attribute text size */
    .custom-icon { width: 1.45rem; margin-right: .5rem; }        /* Attribute icon size, space right of icon */
}