/*--------------------------------------------------------------------------------------//
//                                   ResumeContact.css                                   //
//                Both in one file since they are both small components.                //
//--------------------------------------------------------------------------------------*/

/* Resume Contact Section */
.resume-contact {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: row;

    --contact-form-padding: clamp(0.25rem, 1vw, 0.5rem); 
    --button-width: clamp(1rem, 4.2vw, 1.5rem); 
}

/* Styles for both */
.resume, .contact {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: clamp(0.5rem, 1vw, 1.5rem);
}
    /* Dark mode */
    .resume-contact.dark-mode, .resume.dark-mode, .contact.dark-mode {
        color: white;
    }

/* Header for both Resume & Contact */
.resume-contact h2 {
    display: flex;
    align-self: center;
    font-size: clamp(2.05rem, 5vw, 2.3rem);
}

/* Resume - Seciton */
.resume {
    display: flex;
    flex-direction: column;
    width: 638px;
    min-width: 638px;
    margin-right: 0; /* Every section has margin already, so Contact is far enough */
}
/* Resume Wrapper - for both the image and the skills list */
.resume-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    opacity: 0;
}
    /* Animation plays when Resume is in view, slides and fades into view*/
    .animate-resume {
        animation: baseFadeInSlideRight 0.75s ease forwards;
        opacity: 1;
    }

/* Resume Header */
.resume-header {
    opacity: 0;
}
    /* Animation plays when Resume is in view, slides and fades into view*/
    .animate-resume-header {
        animation: baseFadeInSlideRight 0.75s ease forwards;
        opacity: 1;
    }

/* Resume Image Container - Contains the image of the Resume */
.resume__image__container {
    display:flex;
    position: relative;
    margin-left: clamp(.3rem, 3vw, 1.2rem);
    padding: 0px;
}

/* Resume Image */
.resume__image__container img {
    aspect-ratio: 1/1.2;
    width: 270px;
    background-color: black;
    box-shadow: .4rem .4rem .5rem rgba(0,0,0,0.5);
}

/* Resume Image + Resume Right - Size of both the image and the right side with the list of attributes  */
.resume__image__container img, .resume__right {
    aspect-ratio: 1/1.2;
    width: 250px;
}

/* Resume Right - Contains lists of attributes on the right side */
.resume__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    margin-left: clamp(.3rem, 3vw, .8rem);
    margin-top: -5px;
    height: 324px;
}

/* Magnifying Glass Icon - UI Element to show user that they can zoom in on the Resume by clicking. Moves up/down a little. */
.resume__image__magnifying-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: clamp(1.9rem, 5vw, 2rem); 
    aspect-ratio: 1/1;
    pointer-events: none; 
    background-image: url('../../images/magnifying_glass_icon.png');
    background-repeat: no-repeat;
    background-size: cover;
    animation: floatUpDown 3s linear infinite;
}

/* Magnifying glass animation: Float up and down */
@keyframes floatUpDown {
    0%, 100% { transform: translateY(-2px); } /* Starting and ending at the original position */
    50% { transform: translateY(2px); } /* Peak of the float, adjust px for more or less movement */
}

/* Attributes List - Container for attributes */
.attributes-list {
    display: none; /* Initially hide all lists */
    list-style: none; /* Removes bullet points from lists */
    align-self: flex-start;
    justify-content: flex-start;
    margin-top: -.4rem;
}

/* Attribute - List item showcasing an attribute's name & icon */
.attribute {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: clamp(.7rem, 3vw, 1.4rem);
    opacity: 1;
    transition: transform 0.3s ease, opacity 0.3s ease;

}

/* Attribute Icon - Singule icon for the attribute */
.attribute-icon {
    margin-right: .5rem;
    width: clamp(1.5rem, 3vw, 2rem);
    aspect-ratio: 1/1;
    
}

/* Attribute Text - Text for attribute */
.attribute-text {
    text-wrap: nowrap;
    font-weight: 1000;
    font-size: clamp(1.3rem, 3vw, 1.45rem);
}

/* Attribute Hide - Hides list of attributes 1, then shows attribute list 2, then 3, then back to 1 */
.attribute-hide {
    opacity: 0;
    transform: translateX(1rem);
}







/* Resize Resume + Contact height & padding */
@media (max-width: 760px) {
    .resume-contact {
        height: 1000px;
    }
    .resume {
        height: 430px;
    }
    .resume__image__container {
        margin-left: clamp(3rem, 13vw, 7rem);
    }
    .resume__image__container img {
        width: 240px;
    }
    .attribute {
        margin-bottom: 1.2rem;
    }
    .attribute-text {
        font-size: 1.15rem;
    }
    .attribute-icon {
        width: 1.9rem;
        margin-right: .7rem; 
    }
}

/* Resizing Resume */
@media (max-width: 680px) {
    .resume__image__container { margin-left: 2.5rem; }          /* Decrease space to the left of Resume */ 
    .resume__image__container img { width: 226px; }             /* Resume image size */
    .attribute { margin-bottom: 1.2rem; margin-left: -.4rem;}   /* Space between attributes */
    .attribute-text { font-size: 1.1rem; }                      /* Attribute text size */
    .attribute-icon { width: 1.9rem; margin-right: .6rem; }     /* Attribute icon size */
    .contact { height: 510px; }
}
@media (max-width: 560px) {
    .resume-contact { height: 940px; }
    .resume { height: 400px; }
    .resume__image__container { margin-left: 2rem; }            /* Space to the left of Resume */ 
    .resume__image__container img { width: 196px; }             /* Resume image size */
    .attribute { margin-bottom: 1.1rem; margin-left: -.6rem;}   /* Space b/t attributes, space left of list */
    .attribute-text { font-size: 1rem; }                        /* Attribute text size */
    .attribute-icon { width: 1.45rem; margin-right: .5rem; }    /* Attribute icon size, space right of icon */
}
@media (max-width: 480px) {
    .resume { height: 396px; }
    .resume__image__container { margin-left: 2rem; }            /* Space to the left of Resume */ 
    .resume__image__container img { width: 176px; }             /* Resume image size */
    .attribute { margin-bottom: 1.1rem; margin-left: -.6rem;}   /* Space b/t attributes, space left of list */
    .attribute-text { font-size: 1rem; }                        /* Attribute text size */
    .attribute-icon { width: 1.45rem; margin-right: .5rem; }    /* Attribute icon size, space right of icon */
}
@media (max-width: 400px) {
    .resume-contact { height: 690px; }
    .resume { height: 290px; }
    .resume__image__container { margin-left: 2rem; }            /* Space to the left of Resume */ 
    .resume__image__container img { width: 146px; }             /* Resume image size */
    .attribute { margin-bottom: 1.1rem; margin-left: -.7rem;}   /* Space b/t attributes, space left of list */
    .attribute-text { font-size: .75rem; }                       /* Attribute text size */
    .attribute-icon { width: 1.25rem; margin-right: .4rem; }    /* Attribute icon size, space right of icon */
    .contact { height: 300px;}
}