/*--------------------------------------------------------------------------------------//
//                                NavigationBar.css                                    //
//--------------------------------------------------------------------------------------*/

/* Navbar - Main container for the navigation bar */
.navbar { 
    display: flex;
    height: 2.3rem;
    width: 100%;
    text-decoration: none;
    position: sticky; /* Make navbar fixed */
    top: 0;          /* Stick to the top */
    z-index: 1000;   /* Ensure it stays on top of everything */
    background-color: var(--app-dark-mode-color);
}
.navbar.dark-mode{
    border-bottom: 1.5px solid gray;
}


/* Wrapper for the entire navigation bar except the light/dark switch */
/* Used to change the overall width of the navbar to make space for switch */
.navbar__list-wrapper {
    width: 90%; /* 90% of the navbar width, make space for switch */
}

/* The entire navigation bar except the light/dark switch */
.navbar__list {
    display: flex;
    align-items: center; /* Align list items vertically */
    flex: 1;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Style for each Link component, acting as a navigation item */
.navbar__list a { 
    flex: 1;
    display: flex;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 500;
    font-size: clamp(.75rem, 2vw, 1rem);
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none; /* Remove underline from links */
}

/* Each item (tab) in the navigation bar */
.navbar__list li {
    cursor: pointer;
    width: 100%; /* Ensure the list item takes up full width */
    height: 100%; /* Ensure the list item takes up full height */
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none; /* Remove underline */
    color: white;
}
li:hover {
    color: black;
    background-color: white;
    transform: scale(1.05) translate(.1rem, -.1rem);
    transition: all 0.3s ease;
}
li:active{
    background-color: gray;
    transform: scale(1) translate(-.1rem, -.1rem);
    transition: all 0.3s ease;
}

/* Each active item (tab) in the navigation bar */
.navbar__link-active li {
    position: relative;
    background-color: white;
    color: black;
}

/* Wrapper for all items in the top right corner of the navigation bar */
.top-right-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto; /* Fill up the rest of the navbar space */
    height: 100%;

}


/* Container for GitHub Logo */
/* ::before and :active cause logo to turn gray when clicked */
.github-logo-link {
    content: 'GitHub'; /* Text to show on hover */
    align-self: center;
    aspect-ratio: 1/1;
    height: 32px;
    margin-left: .8rem;
    background-image: url('../../images/github_icon.png');
    border: 1.5px solid white;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Container for the dark mode toggle switch */
.toggle__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    width: 100%; /* Fill up the rest of the navbar space */
}





