/*--------------------------------------------------------------------------------------//
//                                       App.css                                        //
//--------------------------------------------------------------------------------------*/

/* Fonts */
@font-face { /* Avenir Next */
  font-family: 'Avenir Next', sans-serif;
  src: url('fonts/Avenir-Next.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face { /* Avenir Next - Bold */
  font-family: 'Avenir Next', sans-serif;
  src: url('fonts/Avenir-Next-Bold.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face { /* F21  */
  font-family: "F21";
  src: url('fonts/F21.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face { /* SF Pro */
  font-family: "SF Pro";
  src: url('fonts/SF-Pro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face { /* SF Pro Text Light*/
  font-family: "SF Pro Text Light";
  src: url('fonts/SF-Pro-Text-Light.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face { /* SF Pro Display */
  font-family: "SF Pro Display";
  src: url('fonts/SF-Pro-Display.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face { /* SF Pro Display - Bold */
  font-family: "SF Pro Display";
  src: url('fonts/SF-Pro-Display-Bold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face { /* SF Pro Display - Italic (Regular) */
  font-family: "SF Pro Display";
  src: url('fonts/SF-Pro-Display-RegularItalic.otf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face { /* SF Pro Display - Ultra Light */
  font-family: "SF Pro Display";
  src: url('fonts/SF-Pro-Display-Ultralight.otf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face { /* SF Pro Display - Ultra Light Italic */
  font-family: "SF Pro Display";
  src: url('fonts/SF-Pro-Display-UltralightItalic.otf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

/* Root - Variables to be reused for all sections */
:root {
  --app-light-mode-color: rgb(245, 245, 245); 
  /* --app-light-mode-color: white; */
  --app-dark-mode-color: rgb(0, 0, 0);
  --section-margin: clamp(.75rem, 2.7vw, 1.6rem) clamp(0.6rem, 2vw, 10.2rem); 
}
  :root.dark-mode{
    background-color: var(--app-dark-mode-color);
  }


/* All */
*, *:before, *:after {
  overflow: visible;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;         /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;            /* Firefox, other Gecko */
  box-sizing: border-box;                 /* Opera/IE 8+ */
  transition: background-color 1s ease, background-image 1s ease; /* Transition for dark mode */
}
  *.dark-mode {
    transition: background-color 1s ease, background-image 1s ease; /* Transition to go back to light mode */
  }

/* HTML of entire app */
html {
  font-size: clamp(14px, 4vw, 18px); 
  scroll-behavior: smooth;
  background-color: rgb(255, 255, 255);
}
  html.dark-mode, body.dark-mode {
    background-color: (--app-dark-mode-color);
  }

/* Body of entire app */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* App - Wraps all content*/
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* Main - Container for all content except nav bar */
main {
  width: 100%;
  height: 100%; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Sections - Containers for Home, Skills, About, Projects, Resume, Contact */
section {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: var(--app-light-mode-color);

}
  section.dark-mode {
    background-color: transparent !important; 
    
    /* Comment this out to see the normal dark bg color */
    /* background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%); */
    /* box-shadow: .8rem .65rem .4rem rgba(158, 158, 158, 0.5); */
  }

/* Main colors of all section containers, including their shadow & border. */
.skills, .about {
  box-shadow: none;
  border: none;
  background-color: white;
}

.resume, .contact {
  background-color: rgb(231, 231, 231);
}
  .resume.dark-mode, .contact.dark-mode {
    background-color: transparent;
  }

/* Headers for all sections */
h1,h2 {
  font-family: "SF Pro Display";
  font-weight: normal;
  letter-spacing: .1rem;
  font-size: clamp(1.8rem, 4.4vw, 2.9rem);
  margin-top: clamp(1.5rem, 4.7vw, 3.4rem);
  margin-bottom: clamp(1.5rem, 4.7vw, 3.4rem);
}
  h1.dark-mode, h2.dark-mode {
    color: white;
  }

/* Paragraphs for all sections */
p {
  font-family: "SF Pro Text Light";
  font-weight: normal;
}

/* Footer */
footer {
  display: flex;
  flex-direction: row;
  bottom: 0;
  height: 3rem;
  width: 100vw;
  color: white;
  background-color: black;
}

/* Footer - Left & Right Side*/
.footer-left, .footer-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
}
.footer-left {
  align-items: flex-start;
  padding-left: 1rem;
}
.footer-right {
  align-items: flex-end;
  padding-right: 1rem;
}

/* Animate Header - Animation for headers for sections */
.animate-header {
  animation: baseFadeInSlideDown 0.85s ease-out forwards;
  color: black;
  opacity: 1;
}
  .animate-header.dark-mode {
    color: white;
  }

/* Section Headers - Headers for each section */
.section-header {
  margin-bottom: 0;
}

/* Section Subheaders - Little descriptions of sections below main header title */
.section-subheader {
  font-family: "SF Pro Display";
  font-weight: 300;
  align-self: center;
  text-align: center;
  margin-top: 0.4rem;
  margin-bottom: clamp(1.4rem, 4.4vw, 2.5rem);
  font-size: clamp(0.7rem, 2.4vw, 1.1rem);
  padding: 0 1rem;
  opacity: 0; /* Start off invisible before animation */
}
  .section-subheader a {
      display: flex;
      text-decoration: none;
      color: blue;
      font-weight: 300;

  }  

/* Links */
a {
  font-weight: bold; 
  color: rgb(0, 112, 241);
}
  a.dark-mode {
    color: rgb(1, 98, 210);
  }

/* Animations */
@keyframes baseFadeInSlideDown {
  from {
      opacity: 0;
      transform: translateY(-0.55rem); /* Start from the original position */
  }
  to {
      opacity: 1;
      transform: translateY(0%);
  }
}
@keyframes baseFadeInSlideRight {
  from {
      opacity: 0;
      transform: translateX(-1rem); /* Start from the original position */
  }
  to {
      opacity: 1;
      transform: translateX(0%); 
  }
}
@keyframes baseFadeInSlideLeft {
  from {
      opacity: 0;
      transform: translateX(1rem); /* Start from the original position */
  }
  to {
      opacity: 1;
      transform: translateX(0%);
  }
}

/* Media Queries: Reduce box shadow for all sections. */
/* @media screen and (max-width: 860px) {
  section { box-shadow: .6rem .42rem .24rem rgba(0,0,0,0.5); }
}
@media screen and (max-width: 600px) {
  section { box-shadow: .5rem .32rem .22rem rgba(0,0,0,0.5); }
}
@media screen and (max-width: 420px) {
  section { box-shadow: .45rem .29rem .2rem rgba(0,0,0,0.5); }
} */
