/*--------------------------------------------------------------------------------------//
//                                      Projects.css                                    //
//--------------------------------------------------------------------------------------*/



/* All */
* {
    color: black;
}
*.dark-mode {
    color: white;
}

/* Projects */
.projects {
    --projects-title-font-size: 2rem;
    --projects-desc-font-size: 1.6rem;
    --projects-height: 60vh;
    --projects-min-height: 1000px;
    --projects-background-color: white;
    --projects-text-container-width: 50%;
    /* Carousel total space is pretty hard to calc: [base width * scale] + text left space - title padding */
    --projects-text-spacer-left: -5px;
    --projects-title-padding: 16px;
    --projects-extra-carousel-right-space: 
    calc(
        var(--carousel-base-width) * 
        var(--carousel-scale) + 
        var(--projects-text-spacer-left) -
        var(--projects-title-padding));

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: var(--projects-height);
    width: 100%;
    background-color: var(--projects-background-color);
}

/* Project section including slideshow, text */
.projects__section {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}


/* Text container w/ individual slide titles, descriptions */
.projects__text-container {
    background-color: white;
    font-size: var(--projects-desc-font-size);
    margin-left: var(--projects-extra-carousel-right-space);
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    margin-right: 1%;
}
.projects__title {
    background-color: black;
    font-size: var(--projects-title-font-size);  
    font-family: 'Avenir Next', sans-serif;
    font-weight: bold;
    color: white;
    padding: var(--projects-title-padding);
}
.projects__title.dark-mode {
    background-color: white;
    color: black
}
.projects__description {
    font-size: var(--projects-desc-font-size);
    padding: var(--projects-title-padding);
    color: black;
}
.projects__captions {
    font-size: var(--projects-desc-font-size);
}
.row-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Media Queries:
/  By default w/o queries, I assume an average window size on desktop (~1400x900 px).
/  Queries are used for: wide screens, standard tablets & phones, & small phones.
/  Note: I change the background color just to debug; makes it easier to see what query is being applied.*/

/* Wide screens */
@media (min-width: 1600px) {
    .projects {
        --projects-background-color: red;
        --projects-height: 70vh;
        --projects-text-spacer-left: 200px;
        --projects-title-font-size: 2.7rem;
        --projects-desc-font-size: 2.08rem;
        --projects-title-padding: 18px;
    }
}

/* Standard tablet */
@media (max-width: 1050px) {
    .projects {
        --projects-background-color: orange;
        --projects-height: 38vh;
        --projects-text-spacer-left: -290px;
        --projects-title-font-size: 1.55rem;
        --projects-desc-font-size: 1.3rem;
        --projects-title-padding: 12px;
    }
}

/* Standard smart phones */
@media (max-width: 720px) {
    .projects {
        --projects-background-color: yellow;
        --projects-height: 45vh;
        --projects-text-spacer-left: -362px;
        --projects-title-font-size: 1rem;
        --projects-desc-font-size: .95rem;
        --projects-title-padding: 10px;
    }
}

/* Small smart phones */
@media (max-width: 560px) {
    .projects {
        --projects-background-color: green;
        --projects-height: 43vh;
        --projects-text-spacer-left: -412px;
        --projects-title-font-size: .9rem;
        --projects-desc-font-size: .8rem;
        --projects-title-padding: 8px;
    }
}